@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #222222;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #000000;
}

@layer base {
    html {
        scroll-behavior: smooth;
        overflow-x: hidden;
    }
}
html {
    scroll-behavior: smooth;
    will-change: scroll-position;
}
body {
    width: 100vw;
    @apply bg-primary-dark;
}
* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

*,
*:hover {
    scrollbar-color: auto;
}

#experience-list {
    will-change: transform;
}
/* -webkit-transform: translate3d(0, 0, 0); */
